/*
  ============================================================
  TOKENS
  ============================================================

  Variables reutilizables para mantener un sistema visual
  consistente en todo el documento.
*/
@font-face {
  font-family: 'rmregular';
  src: url('rmregular-webfont.woff2') format('woff2'),
       url('rmregular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

:root {
  --color-background: #f4f4f0;
  --color-text: #171717;
  --color-accent: #5b3df5;

  --font-family-base: 'rmregular', system-ui, Arial, Helvetica, sans-serif;

  --font-size-body: 1rem;
  --font-size-h1: 3rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.25rem;
}

/*
  ============================================================
  SELECTOR UNIVERSAL
  ============================================================
  * funciona como un comodín.
  Selecciona todos los elementos HTML.
*/

* {
  box-sizing: border-box;
}


/*
  ============================================================
  BODY
  ============================================================

  Define el sistema visual base del documento.
*/
body {
  margin: 0;

  background-color: var(--color-background);
  color: var(--color-text);

  font-family: var(--font-family-base);
  font-size: var(--font-size-body);
}

header {
  text-align: center;
  margin-bottom: 2rem;
}

header p {
  text-wrap-style: balance;
}

/*
  ============================================================
  JERARQUÍA TIPOGRÁFICA
  ============================================================
  HTML define la jerarquía.
  CSS controla su representación visual.
*/
h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}


/*
  ============================================================
  LINKS
  ============================================================

  El color de acento identifica enlaces y acciones.
*/

a {
  color: var(--color-accent);
}
a:hover, a:focus {
  text-decoration: underline;
}

/*
  ============================================================
  CONTENEDOR PRINCIPAL
  ============================================================

  width:
  ocupa una proporción del espacio disponible.

  max-width:
  evita que el contenido crezca demasiado.

  margin: 0 auto:
  distribuye el espacio horizontal y centra la caja.
*/

main {
  width: 65%;
  min-width: 290px;
  max-width: 1240px;
  margin: 0 auto;
}


/*
  ============================================================
  ESPACIADO BÁSICO
  ============================================================
*/

main,
footer {
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
  padding-top: 2em;
}

nav {
  position: sticky;
  top: 0;
  margin-right: 1rem;
  background-color: var(--color-background);
  padding: 1em;
  text-align: center;
}

nav a {
  padding: 0.5rem;
}